<h1>Write your Email and send it to multiple people with just one click</h1>
<form action="/" method="post">
<h2>Write your email ID from where you want to sent</h2>
<input name='from' type='email' placeholder='From'>
<h2>Write the email Id where you want to sent</h2>
<p>Add email Ids as 'name@mail.com','name1@mail.com'</p>
<input name='to' type='email' placeholder='To'>
<h2>Write your subject here</h2>
<input name='subject' type='text' placeholder='Write Subject'>
<h2>Write your message here</h2>
<p>Use HTML tags to write in bold </p>
<input name='msgs' type='text' placeholder='Write your message here in html format'>
<input type="submit" value="OK">
</form>